<h4>Formularios <small> Reactivos </small></h4>
<hr>

<form autocomplete="off" [formGroup]="formReactive" (ngSubmit)="save()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="firstName" [class.is-invalid]="getFirstName">
                <span *ngIf="getFirstName && formReactive.controls['firstName'].errors" class="badge badge-pill badge-danger d-block text-left mt-1">Ingrese 5 letras</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col">
                <input class="form-control" type="text" placeholder="Apellido" formControlName="lastName" [class.is-invalid]="getLastName">
                <span *ngIf="getLastName && formReactive.controls['lastName'].errors" class="badge badge-pill badge-danger d-block text-left mt-1">Ingrese apellido</span>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">
            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="email" [class.is-invalid]="getEmail">
            <span *ngIf="getEmail && formReactive.controls['email'].errors" class="badge badge-pill badge-danger d-block text-left mt-1">El correo es obligatorio</span>
        </div>
    </div>

    <div class="form-group row" formGroupName="address">
        <label class="col-2 col-form-label">Dirección</label>
        <div class="form-row col">

            <div class="col">
                <input class="form-control" type="text" placeholder="Distrito" formControlName="district" [class.is-invalid]="getDistrict">
                <span *ngIf="getDistrict" class="badge badge-pill badge-danger d-block text-left mt-1">El distrito es obligatorio</span>
            </div>
            <div class="col">
                <input class="form-control" type="text" placeholder="Ciudad" formControlName="city" [class.is-invalid]="getCity">
                <span *ngIf="getCity" class="badge badge-pill badge-danger d-block text-left mt-1">La ciudad es obligatorio</span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Pasatiempo</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody formArrayName="hobbies">
                    <tr *ngFor="let hobbie of getHobbies.controls; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <input class="form-control" type="text" [formControlName]="i">
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteHobbie(i)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-primary btn-block mt-3 mb-5" type="button" (click)="hobbie()">
              + Agregar
            </button>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col">
            <button type="submit" class="btn btn-outline-primary btn-block">
              Guardar
            </button>
        </div>
    </div>

</form>


<hr>

<pre>
  Estado del formulario: {{ formReactive.valid }}
  <br>
  Status: {{ formReactive.status }}
</pre>

<pre>
  {{ formReactive.value | json }}
</pre>